*{
	font-family: monospace;
}
body{
	background-color: #000;
	background-image: url(file:///C:/Users/alekm/OneDrive/%C3%81rea%20de%20Trabalho/dev/img/jpg/04.jpg);
	background-size: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	
}
h1{
	color: #fff;
}
h2{
	color: #fff;
}
h3{
	color: #fff;
}
h4{
	color: #fff;
}
h5{
	color: #fff;
}
p{
	color: #fff;
}
a{
	color: #004409;
	text-decoration: none;
}
a:hover{
	color: #005B0C;
	text-decoration: underline;
}
.par01{
	width: 75%;
	color: #848484;
}
.par02{
	width: 50%;
	color: #656565;
}
.div00{
	border-bottom-style: solid;
	border-bottom-color: #004409;
	border-bottom-width: 5px;
}
.conteudo{
	 background-color: #0F1210;
	 padding: 10px;
	 margin-left: 100px;
	 margin-right: 100px;
	 margin-top: 50px;
	 margin-bottom: 50px;
	 opacity: 96%;
	 border-style: solid;
	border-color: #004409;
	border-width: 5px;
	border-radius: 10px;
}
.conteudo1{
	background-color: #0F1210;
	padding: 10px;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 50px;
	margin-bottom: 50px;
	border-style: solid;
	border-color: #004409;
	border-width: 5px;
	border-radius: 10px;
	opacity: 96%;
}
.ul00{
	color: #fff;
	list-style: none;
}
.car00: before{
	list-style-type: none;
	background-image: url(file:///C:/Users/alekm/OneDrive/%C3%81rea%20de%20Trabalho/dev/img/jpg/03.png);
	background-color: #000;
	content: '';
	display: inline-block;
	height: 30px;
	width: 30px;
	background-size: 30px;
	background-repeat: no-repeat;
	margin-right: 15px;
	margin-top: 13px;
}
.li00{
	color: #004409;
	list-style-type: disc;
}
.img00{
	position: inherit;
	left: 20px;
	top: 20px;
	background-color: #000;
	border-width: 4px;
	border-color: #004409;
	border-style: solid;
}
.mor00{
	color: #666666;
}
.mor01{
	color: #666666;
}
.mor02{
	color: #666666;}
.mor03{
	color: #666666;
}
.mor04{
	color: #666666;
}
