*{
	font-family: monospace;
}
body{
	background-color: black;
	background-image: url(file:///C:/Users/pc-gamer1/Desktop/dev/img/jpg/15.jpg);
	background-size: 106%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	back
	text-align: center;
}
.alk00{
	padding: 4px;
	margin-left: 355px;
	margin-right: 355px;
	margin-top: 1px;
	margin-bottom: 50px;
	opacity: 100%;
}
.img03{
	position: inherit;
	
	top: 20px;
	background-color: transparent;
}
.par00{
	color: #fff;
	font-size: 40px;
}
h1{
	color: #fff;
}
a{
	color: #37D4D4;
	text-decoration: none;
	font-size: 25px;
}
a:hover{
	color: #37D4D4;
	text-decoration: underline;
}
.alk01{
	border-bottom-style: solid;
	border-bottom-color: #37D4D4;
	border-bottom-width: 4px;
	text-align: center;
}
.sec00{
	background-color: #000;
	border-color: #fff;
	border-width: 1px;
	border-style: solid;
	padding: 10px;
	margin-left: 40px;
	margin-right: 700px;
	margin-top: 10px;
	margin-bottom: 50px;
}
.par01{
	text-align: center;
	padding: 30px;
}
img{
	opacity: 70%;
}
img:hover{
	filter: none;
	transition-duration: 0.5s;
	opacity: 100%}
iframe{
	filter: blur(1px) grayscale(90%);
	border-style: solid;
	border-width: 1px;
	border-color: #fff;
	position: inherit;
	left: 20px;
	top: 1px;
	background-color: #000;
}
iframe:hover{
	filter: none;
	transition-duration: 0.5s;
	opacity: 100%
}
video{
	filter: blur(1px) grayscale(50%);
	border-style: solid;
	border-width: 4px;
	border-color: #fff;
	position: inherit;
	left: 20px;
	top: 20px;
	background-color: #000;

}
video:hover{
	filter: none;
	transition-duration: 0.5s;
	opacity: 100%
}